.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "White-Rabbit";
  src: local("White-Rabbit"), url("./fonts/white-rabbit.regular.woff") format('woff');
  font-weight: normal;
  font-display: swap;
}

#result {
  text-align: left;
  width: 900px;
  background-color: #24232d;
  color: #25c2a0;
  padding: 15px;
  overflow: scroll;
}

div {
  line-height: 1.2;
}

pre {
  font-family: "White-Rabbit";
  padding: 1em 0.25em;
  width: 600px;
  margin: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #00ff41;
  text-shadow: 0 0px 10px #008f11;
}

body {
  background-color: #0d0208;
  font-size: 1.5em;
  padding: 0em 0.25em;
}

.body {
  padding: 0em 0.25em;
  width: 600px;
  margin: auto;
}

.title {
  text-align: center;
}

.preText {
  font-size: 16px;
}

.footer {
  text-align: center;
  font-size: 12px;
}

input {
  font-family: "White-Rabbit";
  src: local("White-Rabbit"), url("./fonts/white-rabbit.regular.woff") format('woff');
  background-color: #181818;
  padding: 0.25em;
  outline: 0;
  color: #00ff41;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-shadow: 0 0px 10px #008f11;
}

#myAlias {
  width: 600px;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#receiverDid {
  width: 600px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

#messages {
  width: 600px;
  margin: auto;
  font-size: 16px;
  padding: 10px;
}

#log {
  background-color: #181818;
  padding: 0.25em;
  outline: 0;
  color: #00ff41;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-shadow: 0 0px 10px #008f11;
  margin: 0px 0px 4px 0px;
  font-size: 14px;
  padding: 12px;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.button {
  font-family: "White-Rabbit";
  margin: auto;
  margin-right: 24px;
  width: 240px;
  background-color: #0d0208;
  border: 2px solid #00ff41;
  color: #00ff41;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 2px solid #cccccc;
  color: #cccccc;
}


a {
  color: #00ff41;
  text-shadow: 0 0px 10px #008f11;
}

a:link {
  color: #00ff41;
  text-shadow: 0 0px 10px #008f11;
}

a:visited {
  color: #00ff41;
  text-shadow: 0 0px 10px #008f11;
}

a:hover {
  color: #00ff41;
  text-shadow: 0 0px 10px #00ff41;
}